.title {
    color: #02ccba;
    size:36px;
    background-color:yellow;
    textalign:center;
       
  }
.p one,two{
    border-bottom:2px solid red;
}


p{
    size:30px;
}

.point{
    color:red;
   
    
}
ul{
    list-style:none;}
