.title {
    color: #02ccba;
    size:36px;
    background-color:yellow;
    textalign:center;
       
  }
.p one,two{
    border-bottom:10px solid ;
}

img{
    width:30%;
    height:30%;}
p{
    size:30px;
}

.point{
    color:red;
   
    
}
ul{
    list-style:none;}
